$color-dark: #262626;
$color-black: #000;
$color-white: #fff;
$color-primary: #d3ab55;
$color-secondary: #bbb;

$font-dancingScript: "Dancing Script", cursive;
$font-JosefinSans: "Josefin Sans", sans-serif;
$font-nunito: "Nunito", sans-serif;

body {
  background: $color-dark;
}

button {
  border: 1px solid $color-primary;
  transition: all 0.4s;

  &:hover {
    cursor: pointer;
    background-color: $color-primary;
    color: $color-dark;
  }
}

@mixin flexLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin centering($topValue) {
  position: absolute;
  top: $topValue;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin textStyles($transform: uppercase) {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: $transform;
}

@mixin gridCenter {
  display: grid;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  // background-color: $color-dark;
}
