.logo {
  font-size: 70px;
  color: $color-primary;
  width: 110px;
  height: 110px;
  border: 3px solid $color-primary;
  border-radius: 50%;
  margin-right: 10px;
  @include flexLayout;
}

// $font-dancingScript: "Dancing Script", cursive;
// $font-JosefinSans: "Josefin Sans", sans-serif;
// $font-nunito: "Nunito", sans-serif;

.main-name {
  font-family: $font-nunito;
  font-size: 50px;
  color: $color-secondary;
  @include textStyles;
}

.sub-name {
  font-family: $font-JosefinSans;
  font-size: 18px;
  color: $color-secondary;
  padding-left: 6px;
  @include textStyles;
}

.main-heading {
  font-family: $font-dancingScript;
  font-size: 100px;
  font-weight: 300;
  color: $color-primary;
  margin-bottom: 40px;
}

.sub-heading {
  font-family: $font-JosefinSans;
  font-size: 60px;
  font-weight: 300;
  color: $color-secondary;
  margin-bottom: 80px;
}

.main-btn {
  width: auto;
  height: 45px;
  padding: 10px;
  font-family: $font-JosefinSans;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color-primary;
  background-color: transparent;
  outline: none;
  border-radius: 10%;
}

img.card {
  max-width: 100%; // image takes width of the enclosing div
  height: auto;
}

.card-overlay {
  background-color: rgba($color-primary, 0.6);
  color: $color-white;
  &-heading {
    font-family: $font-nunito;
    @include textStyles(capitalize);
  }

  &-paragraph {
    font-family: $font-JosefinSans;
    margin-bottom: 10px;
    @include textStyles(capitalize);
  }

  &-btn {
    font-family: $font-JosefinSans;
    font-weight: bold;
    text-transform: uppercase;
    width: calc(70%);
    padding: 0.3rem 0.1rem 0.1rem 0.1rem;
    border-radius: 10%;
    color: darken($color-primary, 20%);
  }
}

.footer {
  &-copyright-paragraph {
    font-family: $font-JosefinSans;
    color: $color-secondary;
    @include textStyles(capitalize);
  }
}

.nav-list {
  &-item {
    list-style: none;
  }

  &-link {
    font-family: $font-dancingScript;
    font-size: 50px;
    @include textStyles(capitalize);
    color: $color-secondary;
    text-decoration: none;

    // links are by deafult inline, so to add margin, need to make them block
    display: block;
    margin: 20px;
    text-align: center;
    transition: all 0.5s;

    &:hover {
      color: $color-primary;
      letter-spacing: 4px;
    }
  }
}

.hamburger-menu {
  height: 40px;
  width: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 200;

  .menu {
    cursor: pointer;
    @include fullSpace;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: transform 0.4s;

    &-line {
      width: 100%;
      height: 4px;
      background-color: $color-primary;
      transform-origin: right; // to get X, setting origin to end of line, instead of start
      transition: all 0.5s 0.5s;
    }
  }
}

.left-image {
  width: 50%;
  position: absolute;
  box-shadow: 0 15px 60px rgba($color-black, 0.4);
  opacity: 0.7;
  border-radius: 10px;

  &-1 {
    top: 15%;
    left: 15%;
  }

  &-2 {
    top: 35%;
    left: 25%;
  }

  &-3 {
    top: 55%;
    left: 35%;
  }
}
